<div class="row">
  <div class="col-12 col-lg-6">
    <form (ngSubmit)="saveVinyl()" #vinylForm="ngForm">
      <div class="form-group mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" id="title" name="title" class="form-control" placeholder="Enter title"
               [(ngModel)]="vinyl.title" required minlength="10" #title="ngModel"/>
      </div>
      <div *ngIf="title.dirty && title.hasError('required')">
        Un titre est obligatoire
      </div>
<!--      <div *ngIf="title.dirty && title.hasError('email')">-->
<!--        Ce n'est pas un email-->
<!--      </div>-->
      <div class="form-group mb-3">
        <label for="image" class="form-label">Image</label>
        <input type="text" id="image" name="image" [(ngModel)]="vinyl.imageUrl" #image="ngModel"
               class="form-control" placeholder="Enter image URL"/>
      </div>
      <div class="form-group mb-3">
        <label for="releaseDate" class="form-label">Release Date</label>
        <input type="date" id="releaseDate" name="releaseDate" [(ngModel)]="vinyl.releaseDate" #releaseDate="ngModel"
               class="form-control" placeholder="Enter release date"/>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="vinylForm.invalid">Valider</button>
    </form>
  </div>
</div>
